@import "bulma";

.bordered-container {
  border: 1px solid #dbdbdb; /* Light grey border */
  padding: 20px; /* Some padding to space out the content */
  border-radius: 6px; /* Rounded corners */
}

.card {
  height: 400px; /* Fixed height for all cards */
}

.card .card-content {
  max-height: 300px; /* Maximum height for content */
  overflow: hidden; /* Hide overflow content */
}
